=#javascript_include_tag 'timepicker.js'
-([report.source_name.pluralize.downcase] + report.association_names).each do |source_name|
  =javascript_tag("var #{source_name}_options = \"#{escape_javascript(options_for_clever_field_names(source_name))}\";")
  -source_name.classify.constantize.custom_clever_options.each do |field_name, collection|
    -collection = collection.call if collection.is_a?(Proc)
    =javascript_tag("var #{source_name}_#{field_name}_options = \"#{escape_javascript(options_for_select(collection))}\";")
:javascript
  var string_criteria = "#{escape_javascript(options_string_for_clever_report(CleverFilter::STRING_CRITERIA))}";
  var number_criteria = "#{escape_javascript(options_string_for_clever_report(CleverFilter::NUMBER_CRITERIA))}";
  var date_criteria = "#{escape_javascript(options_string_for_clever_report(CleverFilter::DATE_CRITERIA))}";
  var boolean_criteria = "#{escape_javascript(options_for_select(CleverFilter::BOOLEAN_CRITERIA))}";
  var date_duration_criteria = "#{escape_javascript(options_string_for_clever_report(CleverFilter::DATE_DURATIONS))}";
  var custom_select_criteria = "#{escape_javascript(options_string_for_clever_report(['is', 'is_not']))}";
  
  var CleverFilter = {
    init_datepickers: function() {
      $('input.datetime').removeClass('hasDatepicker').datepicker({
        duration: '',
        dateFormat: 'dd/mm/yy',
        constrainInput: false
      });
    },
    association_name_input: function(elem) {
      return elem.parents(".clever_filter_form ol").children(".filter_association_name").children("select");
    },
    field_name_input: function(elem) {
      return elem.parents(".clever_filter_form ol").children(".filter_field_name").children("select");
    },
    criterion_input: function(elem) {
      return elem.parents(".clever_filter_form ol").children(".filter_criterion").children("select");
    },
    args_input: function(elem) {
      return elem.parents(".clever_filter_form ol").children(".clever_filter_args_fieldset").find(".filter_args_input").first();
    },
    copy_element: function(element_type, element) {
      var new_element = $("<" + element_type + "></" + element_type + ">");
      new_element.attr("id", element.attr("id"));
      new_element.attr("name", element.attr("name"));
      new_element.attr("class", element.attr("class"));
      new_element.attr("autocomplete", element.attr("autocomplete"));
      return new_element;
    },
    set_field_name_options: function(association_select) {
      var field_name_select = CleverFilter.field_name_input(association_select);
      field_name_select.html(window[association_select.val() + '_options']);
      CleverFilter.set_criterion_options(field_name_select);
    },
    set_criterion_options: function(field_name_select){
      var criterion_select = CleverFilter.criterion_input(field_name_select);
      var field_name_type = field_name_select.children(':selected').attr('class').replace('clever_type_','');
      if (field_name_type.match(/(string|text)/)) {
        field_name_type = "string";
      } else if (field_name_type.match(/(date|time|datetime)/)) {
        field_name_type = "date";
      } else if (field_name_type == "boolean"){
        field_name_type = "boolean";
      } else if (field_name_type == "custom_select") {
        field_name_type = "custom_select";
      } else {
        field_name_type = "number";
      }
      criterion_select.html(window[field_name_type + '_criteria']);
      CleverFilter.set_args_input(criterion_select);
    },
    set_args_input: function(criterion_select) {
      var current_args_input = CleverFilter.args_input(criterion_select);
      var args_wrapper = current_args_input.closest('ol');
      if (criterion_select.val().match(/is_((not_)?set|today|yesterday)/)) {
        args_wrapper.html(current_args_input.attr('value', '').parent());
        args_wrapper.closest('fieldset').hide();
        return false;
      }
      var selected_field_name_type = CleverFilter.field_name_input(criterion_select).children(':selected').attr('class').replace('clever_type_', '');
      var args_input_type;
      if (selected_field_name_type == "custom_select") {
        args_input_type = "select";
      } else {
        args_input_type = "input";
      }
      var new_args_input = CleverFilter.copy_element(args_input_type, current_args_input);
      new_args_input.removeClass('datetime');
      if (args_input_type == "input") {
        if (selected_field_name_type == "boolean") {
          new_args_input.attr("type", "hidden");
          new_args_input.val(1);
        } else if (selected_field_name_type.match(/(date|time|datetime)/)) {
          new_args_input.attr("type", "text");
          new_args_input.addClass("datetime");
        } else {
          new_args_input.attr("type", "text");
        }
        
        if (res = criterion_select.val().match(/(is_between|is_in_the_(next|last))/)) {
          var type = (res[0].match(/is_between/) ? "between" : "duration");
          if (type=="duration") { new_args_input.removeClass('datetime'); }
          var new_args_input2 = CleverFilter.copy_element((type=="between" ? "input" : "select"), new_args_input);
          var new_args_input2_li = $('<li>').addClass(current_args_input.parent().attr('class'));
          new_args_input2.attr('id', new_args_input2.attr('id') + "2");
          
          args_wrapper.html(args_wrapper.children().first().html(new_args_input));
          if (type=="between") {
            args_wrapper.append("<li class='clever_filter_args_filler'>and</li>");
          } else {
            new_args_input2.html(date_duration_criteria);
          }
          args_wrapper.append(new_args_input2_li.html(new_args_input2));            
          args_wrapper.closest('fieldset').show();
          CleverFilter.init_datepickers();
          return false;
        }
        
      } else if (args_input_type == "select") {
        var source_name = CleverFilter.association_name_input(criterion_select).val();
        var field_name = CleverFilter.field_name_input(criterion_select).val();
        new_args_input.html(window[source_name + "_" + field_name + "_options"]);
      }
      args_wrapper.html(args_wrapper.children().first().html(new_args_input));
      args_wrapper.closest('fieldset').show();
      CleverFilter.init_datepickers();      
    }
  };