-report = form.object
-content_for :head do
  -(["contacts"] + report.association_names).each do |class_name|
    =javascript_tag("var #{class_name}_options = \"#{escape_javascript(options_for_clever_field_names(class_name))}\";")
    -class_name.classify.constantize.custom_clever_options.each do |field_name, collection|
      =javascript_tag("var #{class_name}_#{field_name}_options = \"#{escape_javascript(options_for_select(collection))}\"")
  :javascript
    var string_criteria = "#{escape_javascript(options_string_for_clever_report(HasCleverReports::STRING_FILTER_CRITERIA))}";
    var number_criteria = "#{escape_javascript(options_string_for_clever_report(HasCleverReports::NUMBER_FILTER_CRITERIA))}";
    var date_criteria = "#{escape_javascript(options_string_for_clever_report(HasCleverReports::DATE_FILTER_CRITERIA))}";
    var boolean_criteria = "#{escape_javascript(options_string_for_clever_report(["is_true", "is_false"]))}";
    var custom_select_criteria = "#{escape_javascript(options_string_for_clever_report(["is", "is_not"]))}";

    var CleverFilter = {
      association_name_input: function(elem) {
        return elem.parents(".clever_filter_form ol").children(".filter_association_name").children("select");
      },
      field_name_input: function(elem) {
        return elem.parents(".clever_filter_form ol").children(".filter_field_name").children("select");
      },
      criterion_input: function(elem) {
        return elem.parents(".clever_filter_form ol").children(".filter_criterion").children("select");
      },
      args_input: function(elem) {
        return elem.parents(".clever_filter_form ol").children(".filter_args").children(".filter_args_input");
      },
      set_field_name_options: function(association_select) {
        var field_name_select = CleverFilter.field_name_input(association_select);
        field_name_select.html(window[association_select.val() + '_options']);
        CleverFilter.set_criterion_options(field_name_select);
      },
      set_criterion_options: function(field_name_select){
        var criterion_select = CleverFilter.criterion_input(field_name_select);
        var field_name_type = field_name_select.children(':selected').attr('class').replace('clever_type_','');
        if (field_name_type.match(/(string|text)/)) {
          field_name_type = "string";
        } else if (field_name_type.match(/(date|time|datetime)/)) {
          field_name_type = "date";
        } else if (field_name_type == "boolean"){
          field_name_type = "boolean";
        } else if (field_name_type == "custom_select") {
          field_name_type = "custom_select";
        } else {
          field_name_type = "number";
        }
        criterion_select.html(window[field_name_type + '_criteria']);
        CleverFilter.set_args_input(criterion_select);
      },
      set_args_input: function(criterion_select) {
        var current_args_input = CleverFilter.args_input(criterion_select);
        var selected_field_name_type = CleverFilter.field_name_input(criterion_select).children(':selected').attr('class').replace('clever_type_', '');
        var args_input_type;
        if (selected_field_name_type == "custom_select") {
          args_input_type = "select";
        } else {
          args_input_type = "input";
        }
        var new_args_input = $("<" + args_input_type + "></" + args_input_type + ">");
        new_args_input.attr("id", current_args_input.attr("id"));
        new_args_input.attr("name", current_args_input.attr("name"));
        new_args_input.attr("class", current_args_input.attr("class"));
        if (args_input_type == "input") {
          new_args_input.attr("type", "text");
        } else if (args_input_type == "select") {
          var class_name = CleverFilter.association_name_input(criterion_select).val();
          var field_name = CleverFilter.field_name_input(criterion_select).val();
          new_args_input.html(window[class_name + "_" + field_name + "_options"]);
        }
        current_args_input.parent().html(new_args_input);
      }
    };
-form.semantic_fields_for(:filters) do |filter_form|
  =render("clever_filters/form", :form => filter_form)